Form {
  padding: 50px 0;
}

input {
  width: 100%;
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 8px 10px;
  color: #383838;
  outline: none !important;
}

.button {
  background-color: #383838 !important;
  border: 1px solid #383838 !important;
}

.question {
  font-size: 24px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 15px;
}

.button:focus,
.button:active {
  box-shadow: none !important;
}

.button:hover {
  background-color: rgb(35, 74, 74) !important;
}

@media (max-width: 576px) {
  .button {
    margin-top: 10px;
  }

  .question {
    margin-bottom: 30px;
  }
}
