.meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  color: #383838;
}

.meaning .example {
  font-size: 15px;
  font-style: italic;
  color: rgb(119, 122, 124);
}

.meaning .text {
  margin: 15px;
  color: #383838;
}
